<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bookMapper">
	<insert id="insertBook" parameterType="com.deajin.lis.commons.BookVO">
		insert into DJBOOK (
		isbn,
		title,
		ddc,
		author,
		publisher,
		page,
		info,
		userid
		)
		values(
		#{isbn},
		#{title},
		#{ddc},
		#{author},
		#{publisher},
		#{page},
		#{info},
		#{userid}
		)
	</insert>
	
	<select id="getBookList" resultType="com.deajin.lis.commons.BookVO" parameterType="com.deajin.lis.commons.pageVO">
		select book.*
		from
		(select ROW_NUMBER() OVER() as rownum ,B.* from DJBOOK B order by ddc) as book
		where 
		<![CDATA[book.rownum >= #{startPage} and book.rownum <= #{endPage}
		]]>
	</select>
	
	
	<select id="getCount" resultType="_int">
		SELECT count(*) from DJBOOK
	</select>
	
	
	<select id="getBookDetail" parameterType="com.deajin.lis.commons.BookVO" resultType="com.deajin.lis.commons.BookVO">
		SELECT *
		FROM DJBOOK
		WHERE isbn = #{isbn}
	</select>
	
	<insert id="pickBook" parameterType="com.deajin.lis.deachul.vo.PickVO">
		INSERT INTO DJPICK(isbn, userid)
		VALUES(#{isbn}, #{userid})
	</insert>
</mapper>