<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bookMapper">
	<insert id="insertBook" parameterType="com.deajin.lis.commons.BookVO">
		insert into DJBOOK (
		title,
		author,
		publisher,
		page,
		info,
		userid,
		star
		)
		values(
		#{title},
		#{author},
		#{publisher},
		#{page},
		#{info},
		#{userid},
		#{star}
		)
	</insert>
	
	<select id="getBookList" resultType="com.deajin.lis.commons.BookVO" parameterType="com.deajin.lis.commons.pageVO">
		select book.*
		from
		(select ROW_NUMBER() OVER(order by bkNo) as rownum ,B.* from DJBOOK B) as book
		where 
		<![CDATA[book.rownum >= #{startPage} and book.rownum <= #{endPage}
		]]>
	</select>
	
	
	<select id="getCount" resultType="_int">
		SELECT count(*) from DJBOOK
	</select>
	
	
	<select id="getBookDetail" parameterType="com.deajin.lis.commons.BookVO" resultType="com.deajin.lis.commons.BookVO">
		SELECT *
		FROM DJBOOK
		WHERE bkNo = #{bkNo}
	</select>
	
	
	<insert id="insertComment" parameterType="com.deajin.lis.commons.CommentVO">
		INSERT INTO DJCOMMENT(pkNo, category, userid, contents)
		VALUES (#{pkNo}, 2, #{userid}, #{contents})
	</insert>
	<select id="getCommentList" resultType="com.deajin.lis.commons.CommentVO" parameterType="_int">
		select *
		from DJCOMMENT
		where category = 2 and pkNo = #{bkNo}
		order by cNo desc
	</select>
	
</mapper>